<div id="page-content">
<h1 class="text-center mt-4">Listing all articles</h1>
    <div class="apple_pagination">
    <div class="page_info">
        <%= page_entries_info @article %>
    </div>
        <%= will_paginate @article, :container => false %>
    </div>
    <%= render @article %>
</div>