<div class="container" id="home-container">
<%
=begin%>
 <div class="jumbotron text-center text-white"> 
<%
=end%>
  <h1 class="display-6">Reactor</h1>
  <p class="lead">This is a article application. Where user can create article and and their profile as well as admin</p>
  <hr class="my-6">
  <p>Admin can only delete article plus profile but cannot edit other user profile.</p>
  <%= link_to "Sign Up", signup_path, class:"btn btn-primary btn-success btn-lg" %>
</div>
<%
=begin%>
 </div> 
<%
=end%>
<div id="page-content">
  </div>