<div class="container" id="home-container">
  <h1 class="display-6">Reactor</h1>
  <p class="lead">This is an article application. Where user can create - edit and delete article.</p>
  <hr class="my-6">
  <p>Admin can only delete article and other user profile but cannot edit other user profile.</p>
  <%= link_to "Sign Up", signup_path, class:"btn btn-primary btn-success btn-lg" %>
</div>
<div id="page-content">
  </div>