<div id="page-content">
    <h1 class="text-center mt-4">Create New Category</h1>
        <div class="container">
            <div class="justify-content-center">
                <div class="col=10">
                    <%= render 'form' %>
                </div>
            </div>
        <div id="page-content mb-3", class="text-center">
        <%= link_to '[ Return To Article ]', articles_path, class:"text-info" %>
        </div>  
</div>